<div class="row">
  <div class="col-md-3"></div>

  <div class="col-12 col-md-3 my-3 card-menu" >
    <img class="rounded-circle" src="assets/letters.jpg" alt="Generic placeholder image" width="180" height="180">
    <h2>ESCOLAS</h2>
    <p><a class="btn btn-primary" [routerLink]="'/escolas'" role="button">
        Acessar »</a>
    </p>
  </div>
  <div class="col-12 col-md-3 my-3 card-menu" >
    <img class="rounded-circle" src="assets/book.jpg" alt="Generic placeholder image" width="180" height="180">
    <h2>NOVA ESCOLA</h2>
    <p><a class="btn btn-primary" [routerLink]="'/escolas/criar-escola'" role="button">
        Acessar »</a>
    </p>
  </div>
  <div class="col-md-3"></div>
</div>
